@import url(../CSS/font.css);
html,body{
    margin:0%;
    box-sizing: border-box;
    overflow: scroll;
}

:root{
    /*---- Theme Colors-----*/
    --text-gray:#3f4954;
    --text-light: #686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    /*------- Gradient Colors-------*/
    --sky: linear-gradient(120deg,#a1c4fd 0% , #c2e9fb 100%);

    /*------ Theme Font-Family------*/
    --Mukta:'Mukta';
}
/*-----Global Classes------*/
a{
    text-decoration: none;
    color: var(--text-gray)
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
h1{
    font-family: var(--Mukta);
    font-size: 2.5rem;
}
h2{
    font-family: var(--Mukta);
    
}
h3{
    font-family: var(--Mukta);
    font-size: 1.3rem;
}
button.btn{
    border: none;
    border-radius:2rem ;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Mukta);
    cursor: pointer;
}

span{
    font-family: var(--Mukta);
}
.container{
    margin: 0 5vw;
}
.text-gray{
    color: var(--text-gray);
}
p{
    font-family: var(--Mukta);
    color: var(--text-light);
}
/*-----Global Classes------*/


/*-------navbar--------*/
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height:10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.nav .nav-menu{
   justify-content: space-between ;
}
.nav .toggle{
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}
.nav .toggle .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);

}
.collapse{
    height:40rem;
}
.nav .nav-items{
    display: flex;
    margin: 0;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Mukta);
    font-size: 1.1rem;
}
.nav .nav-items .nav-link:hover{
    background-color:var(--midnight) ;

}
.nav .nav-items .nav-link:hover a{
    color: var(--white);
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Mukta); 
    font-size: 1.6rem;
    
}
 .dropdown{
    float: left;
    overflow: hidden;
    padding: 0.9rem 1rem;
    font-size: 1.1rem;
    position:static;
    font-family: var(--Mukta);
    
}
.dropdown:hover{
    background-color: var(--midnight);
    color: var(--white);
}
.dropdown .dropbtn:hover{
    color: var(--white);
 }  

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown .dropdown-content .fa{
    display: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover{
    background-color: var(--midnight);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--midnight);
}

.dropdown:hover .dropdown-content {
    display: block;
  } 
.nav .social{
    padding: 1.4rem, 0;
}
.nav .social i{
    padding: 0 .2rem;
}
.nav .social i:hover{
    color: #a1c4cf;
}


/*-------navbar--------*/

/* ---------------Main Content-------------- */
        /* Site Title */
main .site-title{
    background: url('../assets/istockphoto-1369104225-170667a.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
 } 
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}
main .site-title h1,h3{
    margin: .3rem;
}
main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}
main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
 

        /* Site Title */

/* -----------Blog Caraousel------------- */
main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .blog .blog-post{
    padding-top: 6rem;

}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);

}
main .blog-content .blog-title{
    padding: 2rem 0;

}
main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
    
}
section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}
.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}



/* -----------Blog Caraousel------------- */
/* -----------Site Content--------------- */
main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
main .post-content{
    width: 100%;
    /* margin-bottom: 5rem; */
}
main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;

}
main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}
main .site-content .post-content > .post-image > div{
    overflow: hidden;
}
main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}
main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.1);
}
main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}
main .post-content .post-title a{
    font-family: var(--Mukta);
    font-size: 1.5rem;
}
.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky) ;
}
/*------------------ Page Scroll button---------- */
.site-content .page-scroll{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}
.site-content .page-scroll a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
}
.site-content .page-scroll .pages{
    background: var(--text-gray);
    color: var(--white);

}
/*------------------ Page Scroll button---------- */

/* -----------Site Content--------------- */


/* -----------Sidebar-------------------- */

.site-content > .sidebar .category{
    font-family: var(--Mukta);
}
.site-content > .sidebar .category .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
}
.site-content > .sidebar .category .list-items a{
    color: black;  
}
.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}
.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}
.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1rem !important;
    border-radius: 0rem !important;
    background: white !important;
}
.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;

}
/* --------Newsletter---------- */
.site-content .sidebar .newsletter{
    padding-top: 10rem;
}
.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}
.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Mukta);
    font-size: 1rem;
}
.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 36.7%;
    margin: 1rem 0;
    background: var(--sky);
}
/* --------Newsletter---------- */
/* --------Popular Tags-------- */
.site-content .sidebar .popular-tags{
    padding: 5rem 0;
}
.site-content .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
    cursor: pointer;
}


/* --------Popular Tags-------- */

/* -----------Sidebar-------------------- */



/* ---------------Main Content-------------- */


/* ---------------Footer------------------ */
footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}
footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}
footer.footer .container  h2{
    color: var(--white);
}
footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}
footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 76.95%; 
}
footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}
footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}
footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}
footer.footer .rights{
    justify-content: center;
}
footer.footer .rights h4 a{
    color: var(--white);
}
footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}
footer.footer .move-up span{
    color: var(--midnight);
}
footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------------Footer------------------ */





/*    Viewport less than or equal to 750px    */
@media  (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;   
    }
    .nav .toggle-collapse{
        display: initial ;
    }
    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
/*    Viewport less than or equal to 750px    */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */

